body {
  /* Those two main colors are variables to use them you can do for example var(--main-color) */
  --main-color: #ff5757;
  --main-color-darker: #d14c4c;
  font-family: sans-serif;
  /* those two lines to disable horizontal scrolling  */
  max-width: 100vw;
  overflow-x: hidden;
  /* those other two line to reset margin and padding for the whole page. */
  margin: 0;
  padding: 0;
}


/***** common classes *****/

.section-main {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: var(--main-color);
}
.header-main {
  font-size: 7vh;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}
.info-main {
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3vh;
  /* this how you can use the variable */
  color: #fff;
}
.section-white {
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #ffffff;
}
.header-white {
  font-size: 7vh;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: var(--main-color);
}
.info-white {
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3vh;
  /* this how you can use the variable */
  color: var(--main-color);
}

/***** Navigation *****/
nav {
  width: 100%;
  background: #333;
  position: fixed;
}

nav ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

nav ul li:hover {
  background: #fff;
}
nav ul li:hover a{
  color:var(--main-color);
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}
.toggle {
  width: 100%;
  padding: 10px 20px;
  background: #333;
  text-align: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}

/***** the first section  *****/
#first-section {
  background-image: url("../imgs/code-820275_1920.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#first-section-header{
  font-weight: bold;
}
#first-section-info{
  color:var(--main-color);
  font-weight: bold;
}
/* this is for the grayd box in the middle of the section  */
.gray-box {
  display: inline-block;
  height: 20vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/***** the second section *****/

#second-section {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img info";
}

#second-section-image {
  grid-area: img;
  background-image: url("../imgs/team-3373638_1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#learn-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  grid-area: info;
  padding: 20px;
  text-align: start;
}

#second-section-header {
  padding-bottom: 30px;
}

/***** the third section *****/
#third-section{
  padding-top: 10vh;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#items-div{
  height: 100%;
  padding-top:10vh;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "determination passion eachOther";
}

#determination {
  grid-area: determination;
  padding: 10px;
}

#passion {
  grid-area: passion;
  padding: 10px;
}

#eachOther {
  grid-area: eachOther;
  padding: 10px;
}

/**** the fourth section  ****/
#fourth-section {
  padding-top: 10vh;
}

#fourth-section-image{
  background-image: url("../imgs/target.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  margin: 20px;
  border: var(--main-color) solid 2px;
}
#fourth-section-info{
  font-size:6vw;
}

/***** the fifth section *****/
#fifth-section{
  padding-top: 10vh;
  height: auto;
}
#team-members{
  padding-top: 5em;
  padding-bottom: 5em;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-row-gap: 100px;
  justify-items: center;
}
.member{
  background-size: cover;
  background-color: #ddd;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.member a{
  text-decoration: none;
  color: #fff;
}
.member h2{
  color: #fff;
}

/***** Memmbers Photos *****/

/*
ADD YOUR PHOTOS ID HERE BY WRITING YOUR DIV ID AND THEN IMPORT YOUR PHOTO TO members-photos in the imgs folder after that you can write the url like I have done on my id style down here.
*/


#abod{
  background-image: url('../imgs/members-photos/Abod.jpg');
}

#katelinFrederick {
  background-image: url('../imgs/members-photos/katelinFrederick.jpg');
}




/**** MEDIA QUERIES ****/
@media (max-width: 820px) {
  .toggle {
    display: block;
  }

  nav ul {
    width: 100%;
    display: none;
  }

  nav ul li {
    display: block;
    text-align: center;
  }

  .active {
    display: block;
  }

  #team-members{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 700px) {
  #fourth-section-image{
    display: none;
  }
}

@media (max-width: 600px) {
  /*** the second section ***/
  #second-section {
    grid-template-areas:
    "info info"
    "img img";
  }
  #second-section-image{
    min-height: 30vh;
  }

  /*** the third section ***/
  #items-div{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #third-section-header{
    padding:0;
  }


}


/**** Copy Rights ****/
#copyrights{
  background-color: #333;
  color: #fff;
  width: 100%;
  display: block;
}
